<h1>Reults</h1>
<hr>


<% if(results.length > 0){ %>
  <div class="row">
    <% results.forEach(function(result, i){ %>
      <div class="col s12 m6 l4 xl4">
        <div class="card black">
          <div class="card-image">
            <img class="white-text" src="<%= result.imageUrl %>" alt="<%= result.name %>" onerror="this.src ='/img/card_back.jpeg';" height="311" width="223">
          </div>
          <div class="desc card-content white-text">
            <a href="/card/<%= result.id %>">
            <span class="card-title"><%= i + 1 %>. <%= result.name %></span>
            </a>
            <p><%= result.text %></p>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s4">
                <% if(currentUser){ %>
                  <a class='dropdown-button btn' href='#' data-activates='dropdown<%= i %>'>+Deck</a>
                  <ul id='dropdown<%= i %>' class='dropdown-content'>
                    <% if(decks){ %>
                      <% decks.forEach(function(deck){ %>
                        <form class="addCard" method="" action="/decks/<%= deck.id %>/add/<%= result.id %>">
                          <input type="hidden" value="<%= result.name %>" name="cardName">
                          <input type="hidden" value="<%= result.imageUrl %>" name="cardImg">
                          <input type="hidden" value="<%= result.id %>" name="cardId">
                          <button type="submit"><%= deck.name %></button>
                        </form>
                        <br />
                      <% }) %>
                    <% }else{ %>
                      <li><a href="#!">No Decks</a></li>
                    <% } %>
                  </ul>
                <% }else{ %>
                  <a class="btn" href="/login">Login</a>
                <% } %>
              </div>
              <div class="col s4">
                <form action="/favorite" method="POST">
                  <input type="hidden" value="<%= result.id %>" name="cardInfo">
                  <input type="hidden" value="<%= result.name %>" name="cardName">
                  <button class="btn-small right round" type="submit"><i class="material-icons">favorite</i></button>
                </form>
              </div>
              <div class="col s4">
                <a class="btn" href="https://shop.tcgplayer.com/magic/product/show?ProductName=<%= result.name %>">Shop</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% }) %>
</div>
<% }else{ %>
  <br />
<h4 class="center">No Results Found. <a href="/search">Search Again?</a></h4>
<% } %>
